.s0 {
  color: #d5ced9;
}.s1 {
  color: #a0a1a7cc;
}.s2 {
  color: #00e8c6;
}.s3 {
  color: #f39c12;
}.s4 {
  color: #ffe66d;
}.s5 {
  color: #ff00aa;
}.s6 {
  color: #f92672;
}.s7 {
  color: #c74ded;
}.s8 {
  color: #7cb7ff;
}.s9 {
  color: #ee5d43;
}.s10 {
  color: #96e072;
}