.s0 {
  color: #546e7a;
}.s1 {
  color: #eeffff;
}.s2 {
  color: #ffffff;
}.s3 {
  color: #ff5370;
}.s4 {
  color: #c792ea;
}.s5 {
  color: #89ddff;
}.s6 {
  color: #f07178;
}.s7 {
  color: #82aaff;
}.s8 {
  color: #f78c6c;
}.s9 {
  color: #c3e88d;
}.s10 {
  color: #ffcb6b;
}.s11 {
  color: #b2ccd6;
}.s12 {
  color: #c17e70;
}.s13 {
  color: #65737e;
}.s14 {
  color: #00000050;
}