.s0 {
  color: #bfbdb6;
}
.s1 {
  color: #acb6bf8c;
}
.s2 {
  color: #aad94c;
}
.s3 {
  color: #95e6cb;
}
.s4 {
  color: #d2a6ff;
}
.s5 {
  color: #f07178;
}
.s6 {
  color: #39bae6;
}
.s7 {
  color: #ff8f40;
}
.s8 {
  color: #f29668;
}
.s9 {
  color: #bfbdb6b3;
}
.s10 {
  color: #59c2ff;
}
.s11 {
  color: #ffb454;
}
.s12 {
  color: #39bae680;
}
.s13 {
  color: #e6b673;
}
.s14 {
  color: #d95757;
}
.s15 {
  color: #c594c5;
}
.s16 {
  color: #7fd962;
}
.s17 {
  color: #73b8ff;
}
.s18 {
  color: #f26d78;
}
