.s0 {
  color: #cdd6f4;
}
.s1 {
  color: #9399b2;
}
.s2 {
  color: #6c7086;
}
.s3 {
  color: #a6e3a1;
}
.s4 {
  color: #f5c2e7;
}
.s5 {
  color: #fab387;
}
.s6 {
  color: #cba6f7;
}
.s7 {
  color: #94e2d5;
}
.s8 {
  color: #89b4fa;
}
.s9 {
  color: #f9e2af;
}
.s10 {
  color: #eba0ac;
}
.s11 {
  color: #f38ba8;
}
.s12 {
  color: #89dceb;
}
.s13 {
  color: #f2cdcd;
}
.s14 {
  color: #a6adc8;
}
.s15 {
  color: #b4befe;
}
.s16 {
  color: #f5e0dc;
}
