.s0 {
  color: #c6d0f5;
}.s1 {
  color: #949cbb;
}.s2 {
  color: #737994;
}.s3 {
  color: #a6d189;
}.s4 {
  color: #f4b8e4;
}.s5 {
  color: #ef9f76;
}.s6 {
  color: #ca9ee6;
}.s7 {
  color: #81c8be;
}.s8 {
  color: #8caaee;
}.s9 {
  color: #e5c890;
}.s10 {
  color: #ea999c;
}.s11 {
  color: #e78284;
}.s12 {
  color: #99d1db;
}.s13 {
  color: #eebebe;
}.s14 {
  color: #a5adce;
}.s15 {
  color: #babbf1;
}.s16 {
  color: #f2d5cf;
}