.s0 {
  color: #4c4f69;
}
.s1 {
  color: #7c7f93;
}
.s2 {
  color: #9ca0b0;
}
.s3 {
  color: #40a02b;
}
.s4 {
  color: #ea76cb;
}
.s5 {
  color: #fe640b;
}
.s6 {
  color: #8839ef;
}
.s7 {
  color: #179299;
}
.s8 {
  color: #1e66f5;
}
.s9 {
  color: #df8e1d;
}
.s10 {
  color: #e64553;
}
.s11 {
  color: #d20f39;
}
.s12 {
  color: #04a5e5;
}
.s13 {
  color: #dd7878;
}
.s14 {
  color: #6c6f85;
}
.s15 {
  color: #7287fd;
}
.s16 {
  color: #dc8a78;
}
