.s0 {
  color: #cad3f5;
}
.s1 {
  color: #939ab7;
}
.s2 {
  color: #6e738d;
}
.s3 {
  color: #a6da95;
}
.s4 {
  color: #f5bde6;
}
.s5 {
  color: #f5a97f;
}
.s6 {
  color: #c6a0f6;
}
.s7 {
  color: #8bd5ca;
}
.s8 {
  color: #8aadf4;
}
.s9 {
  color: #eed49f;
}
.s10 {
  color: #ee99a0;
}
.s11 {
  color: #ed8796;
}
.s12 {
  color: #91d7e3;
}
.s13 {
  color: #f0c6c6;
}
.s14 {
  color: #a5adcb;
}
.s15 {
  color: #b7bdf8;
}
.s16 {
  color: #f4dbd6;
}
