.s0 {
  color: #d4d4d4;
}.s1 {
  color: #000080;
}.s2 {
  color: #6a9955;
}.s3 {
  color: #569cd6;
}.s4 {
  color: #b5cea8;
}.s5 {
  color: #646695;
}.s6 {
  color: #d7ba7d;
}.s7 {
  color: #9cdcfe;
}.s8 {
  color: #f44747;
}.s9 {
  color: #ce9178;
}.s10 {
  color: #6796e6;
}.s11 {
  color: #808080;
}.s12 {
  color: #d16969;
}.s13 {
  color: #dcdcaa;
}.s14 {
  color: #4ec9b0;
}.s15 {
  color: #c586c0;
}.s16 {
  color: #4fc1ff;
}.s17 {
  color: #c8c8c8;
}