.s0 {
  color: #bf9eee;
}
.s1 {
  color: #7b7f8b;
}
.s2 {
  color: #62e884;
}
.s3 {
  color: #ee6666;
}
.s4 {
  color: #ffb86c;
}
.s5 {
  color: #f6f6f4;
}
.s6 {
  color: #e7ee98;
}
.s7 {
  color: #97e1f1;
}
.s8 {
  color: #f286c4;
}
.s9 {
  color: #dee492;
}
.s10 {
  color: #97e2f2;
}
