.s0 {
  color: #bd93f9;
}.s1 {
  color: #6272a4;
}.s2 {
  color: #50fa7b;
}.s3 {
  color: #ff5555;
}.s4 {
  color: #ffb86c;
}.s5 {
  color: #f8f8f2;
}.s6 {
  color: #f1fa8c;
}.s7 {
  color: #8be9fd;
}.s8 {
  color: #ff79c6;
}.s9 {
  color: #e9f284;
}.s10 {
  color: #8be9fe;
}