.s0 {
  color: #f85552;
}
.s1 {
  color: #f57d26;
}
.s2 {
  color: #dfa000;
}
.s3 {
  color: #8da101;
}
.s4 {
  color: #35a77c;
}
.s5 {
  color: #3a94c5;
}
.s6 {
  color: #df69ba;
}
.s7 {
  color: #5c6a72;
}
.s8 {
  color: #939f91;
}
