.s0 {
  color: #e67e80;
}.s1 {
  color: #e69875;
}.s2 {
  color: #dbbc7f;
}.s3 {
  color: #a7c080;
}.s4 {
  color: #83c092;
}.s5 {
  color: #7fbbb3;
}.s6 {
  color: #d699b6;
}.s7 {
  color: #d3c6aa;
}.s8 {
  color: #859289;
}