.s0 {
  color: #bdc4cc;
}.s1 {
  color: #ff9492;
}.s2 {
  color: #91cbff;
}.s3 {
  color: #ffb757;
}.s4 {
  color: #f0f3f6;
}.s5 {
  color: #dbb7ff;
}.s6 {
  color: #72f088;
}.s7 {
  color: #addcff;
}.s8 {
  color: #ffb1af;
}.s9 {
  color: #ffffff;
}.s10 {
  color: #272b33;
}