.s0 {
  color: #66707b;
}.s1 {
  color: #a0111f;
}.s2 {
  color: #023b95;
}.s3 {
  color: #702c00;
}.s4 {
  color: #0e1116;
}.s5 {
  color: #622cbc;
}.s6 {
  color: #024c1a;
}.s7 {
  color: #032563;
}.s8 {
  color: #6e011a;
}.s9 {
  color: #ffffff;
}.s10 {
  color: #e7ecf0;
}.s11 {
  color: #4b535d;
}