.s0 {
  color: #6a737d;
}.s1 {
  color: #79b8ff;
}.s2 {
  color: #b392f0;
}.s3 {
  color: #e1e4e8;
}.s4 {
  color: #85e89d;
}.s5 {
  color: #f97583;
}.s6 {
  color: #9ecbff;
}.s7 {
  color: #ffab70;
}.s8 {
  color: #fdaeb7;
}.s9 {
  color: #24292e;
}.s10 {
  color: #dbedff;
}.s11 {
  color: #2f363d;
}.s12 {
  color: #d1d5da;
}