.s0 {
  color: #8b949e;
}
.s1 {
  color: #ff7b72;
}
.s2 {
  color: #79c0ff;
}
.s3 {
  color: #ffa657;
}
.s4 {
  color: #e6edf3;
}
.s5 {
  color: #d2a8ff;
}
.s6 {
  color: #7ee787;
}
.s7 {
  color: #a5d6ff;
}
.s8 {
  color: #ffa198;
}
.s9 {
  color: #f0f6fc;
}
.s10 {
  color: #161b22;
}
