.s0 {
  color: #768390;
}.s1 {
  color: #f47067;
}.s2 {
  color: #6cb6ff;
}.s3 {
  color: #f69d50;
}.s4 {
  color: #adbac7;
}.s5 {
  color: #dcbdfb;
}.s6 {
  color: #8ddb8c;
}.s7 {
  color: #96d0ff;
}.s8 {
  color: #ff938a;
}.s9 {
  color: #cdd9e5;
}.s10 {
  color: #2d333b;
}