.s0 {
  color: #6e7781;
}
.s1 {
  color: #cf222e;
}
.s2 {
  color: #0550ae;
}
.s3 {
  color: #953800;
}
.s4 {
  color: #1f2328;
}
.s5 {
  color: #8250df;
}
.s6 {
  color: #116329;
}
.s7 {
  color: #0a3069;
}
.s8 {
  color: #82071e;
}
.s9 {
  color: #f6f8fa;
}
.s10 {
  color: #eaeef2;
}
.s11 {
  color: #57606a;
}
