.s0 {
  color: #4bf3c8;
}.s1 {
  color: #54b9ff;
}.s2 {
  color: #ffd493;
}.s3 {
  color: #eef0f9;
}.s4 {
  color: #acafff;
}.s5 {
  color: #00daef;
}.s6 {
  color: #545864;
}.s7 {
  color: #ffffff;
}.s8 {
  color: #cc75f4;
}.s9 {
  color: #f44747;
}.s10 {
  color: #eef0f98f;
}