.s0 {
  color: #716e61;
}.s1 {
  color: #545464;
}.s2 {
  color: #cc6d00;
}.s3 {
  color: #e82424;
}.s4 {
  color: #624c83;
}.s5 {
  color: #d9a594;
}.s6 {
  color: #77713f;
}.s7 {
  color: #4e8ca2;
}.s8 {
  color: #4d699b;
}.s9 {
  color: #6693bf;
}.s10 {
  color: #c84053;
}.s11 {
  color: #b35b79;
}.s12 {
  color: #6f894e;
}.s13 {
  color: #597b75;
}.s14 {
  color: #6e915f;
}.s15 {
  color: #d7474b;
}.s16 {
  color: #de9800;
}.s17 {
  color: #836f4a;
}.s18 {
  color: #5d57a3;
}