.s0 {
  color: #737c73;
}.s1 {
  color: #c5c9c5;
}.s2 {
  color: #b6927b;
}.s3 {
  color: #e82424;
}.s4 {
  color: #8992a7;
}.s5 {
  color: #c4746e;
}.s6 {
  color: #c4b28a;
}.s7 {
  color: #9e9b93;
}.s8 {
  color: #8ba4b0;
}.s9 {
  color: #949fb5;
}.s10 {
  color: #a292a3;
}.s11 {
  color: #8a9a7b;
}.s12 {
  color: #8ea4a2;
}.s13 {
  color: #76946a;
}.s14 {
  color: #c34043;
}.s15 {
  color: #dca561;
}.s16 {
  color: #b98d7b;
}.s17 {
  color: #a6a69c;
}