.s0 {
  color: #727169;
}
.s1 {
  color: #dcd7ba;
}
.s2 {
  color: #ffa066;
}
.s3 {
  color: #e82424;
}
.s4 {
  color: #957fb8;
}
.s5 {
  color: #ff5d62;
}
.s6 {
  color: #e6c384;
}
.s7 {
  color: #9cabca;
}
.s8 {
  color: #7e9cd8;
}
.s9 {
  color: #7fb4ca;
}
.s10 {
  color: #e46876;
}
.s11 {
  color: #d27e99;
}
.s12 {
  color: #98bb6c;
}
.s13 {
  color: #7aa89f;
}
.s14 {
  color: #76946a;
}
.s15 {
  color: #c34043;
}
.s16 {
  color: #dca561;
}
.s17 {
  color: #c0a36e;
}
.s18 {
  color: #b8b4d0;
}
