.s0 {
  color: #40b4c4;
}
.s1 {
  color: #eb64b9;
}
.s2 {
  color: #b4dce7;
}
.s3 {
  color: #b381c5;
}
.s4 {
  color: #7b6995;
}
.s5 {
  color: #74dfc4;
}
.s6 {
  color: #91889b;
}
.s7 {
  color: #ffe261;
}
.s8 {
  color: #fff;
}
.s9 {
  color: #a96bc0;
}
.s10 {
  color: #ffb85b;
}
