.s0 {
  color: #90a4ae;
}.s1 {
  color: #91b859;
}.s2 {
  color: #39adb5;
}.s3 {
  color: #ff5370;
}.s4 {
  color: #f76d47;
}.s5 {
  color: #6182b8;
}.s6 {
  color: #9c3eda;
}.s7 {
  color: #e53935;
}.s8 {
  color: #e2931d;
}.s9 {
  color: #8796b0;
}.s10 {
  color: #90a4ae90;
}.s11 {
  color: #916b53;
}