.s0 {
  color: #babed8;
}.s1 {
  color: #c3e88d;
}.s2 {
  color: #89ddff;
}.s3 {
  color: #ff9cac;
}.s4 {
  color: #f78c6c;
}.s5 {
  color: #82aaff;
}.s6 {
  color: #c792ea;
}.s7 {
  color: #f07178;
}.s8 {
  color: #ffcb6b;
}.s9 {
  color: #464b5d;
}.s10 {
  color: #b2ccd6;
}.s11 {
  color: #babed890;
}.s12 {
  color: #916b53;
}