.s0 {
  color: #24292eff;
}
.s1 {
  color: #1976d2;
}
.s2 {
  color: #2b5581;
}
.s3 {
  color: #c2c3c5;
}
.s4 {
  color: #d32f2f;
}
.s5 {
  color: #ff9800;
}
.s6 {
  color: #6f42c1;
}
.s7 {
  color: #22863a;
}
.s8 {
  color: #316bcd;
}
.s9 {
  color: #cd9731;
}
.s10 {
  color: #cd3131;
}
.s11 {
  color: #800080;
}
.s12 {
  color: #212121;
}
