.s0 {
  color: #b392f0;
}.s1 {
  color: #ff7a84;
}.s2 {
  color: #1976d2;
}.s3 {
  color: #9db1c5;
}.s4 {
  color: #6b737c;
}.s5 {
  color: #79b8ff;
}.s6 {
  color: #f8f8f8;
}.s7 {
  color: #f97583;
}.s8 {
  color: #ff9800;
}.s9 {
  color: #ffab70;
}.s10 {
  color: #316bcd;
}.s11 {
  color: #cd9731;
}.s12 {
  color: #cd3131;
}.s13 {
  color: #800080;
}.s14 {
  color: #bbbbbb;
}