.s0 {
  color: #f8f8f2;
}
.s1 {
  color: #88846f;
}
.s2 {
  color: #e6db74;
}
.s3 {
  color: #f92672;
}
.s4 {
  color: #ae81ff;
}
.s5 {
  color: #66d9ef;
}
.s6 {
  color: #a6e22e;
}
.s7 {
  color: #fd971f;
}
.s8 {
  color: #f44747;
}
.s9 {
  color: #cfcfc2;
}
.s10 {
  color: #75715e;
}
.s11 {
  color: #ae81ffa0;
}
.s12 {
  color: #6796e6;
}
.s13 {
  color: #cd9731;
}
.s14 {
  color: #b267e6;
}
