.s0 {
  color: #a2bffc;
}
.s1 {
  color: #ef535090;
}
.s2 {
  color: #c5e478ff;
}
.s3 {
  color: #d6deeb;
}
.s4 {
  color: #637777;
}
.s5 {
  color: #ecc48d;
}
.s6 {
  color: #c5e478;
}
.s7 {
  color: #f78c6c;
}
.s8 {
  color: #82aaff;
}
.s9 {
  color: #5ca7e4;
}
.s10 {
  color: #5f7e97;
}
.s11 {
  color: #c792ea;
}
.s12 {
  color: #ffcb8b;
}
.s13 {
  color: #7fdbca;
}
.s14 {
  color: #caece6;
}
.s15 {
  color: #ffffff;
}
.s16 {
  color: #cdebf7;
}
.s17 {
  color: #ff5874;
}
.s18 {
  color: #d9f5dd;
}
.s19 {
  color: #80cbc4;
}
.s20 {
  color: #57eaf1;
}
.s21 {
  color: #ffeb95;
}
.s22 {
  color: #fad430;
}
.s23 {
  color: #baebe2;
}
.s24 {
  color: #faf39f;
}
.s25 {
  color: #020e14;
}
.s26 {
  color: #ec5f67;
}
.s27 {
  color: #d3423e;
}
.s28 {
  color: #697098;
}
.s29 {
  color: #31e1eb;
}
.s30 {
  color: #b2ccd6;
}
.s31 {
  color: #ff6363;
}
.s32 {
  color: #dddddd;
}
.s33 {
  color: #7fdbcaff;
}
.s34 {
  color: #e0dec6;
}
.s35 {
  color: #6ae9f0;
}
.s36 {
  color: #78ccf0;
}
.s37 {
  color: #7986e7;
}
.s38 {
  color: #c789d6;
}
.s39 {
  color: #82b1ff;
}
.s40 {
  color: #ff869a;
}
.s41 {
  color: #bec5d4;
}
.s42 {
  color: #8eace3;
}
.s43 {
  color: #d7dbe0;
}
