.s0 {
  color: #d8dee9ff;
}.s1 {
  color: #616e88;
}.s2 {
  color: #ebcb8b;
}.s3 {
  color: #81a1c1;
}.s4 {
  color: #b48ead;
}.s5 {
  color: #8fbcbb;
}.s6 {
  color: #88c0d0;
}.s7 {
  color: #d8dee9;
}.s8 {
  color: #bf616a;
}.s9 {
  color: #a3be8c;
}.s10 {
  color: #5e81ac;
}.s11 {
  color: #eceff4;
}.s12 {
  color: #d08770;
}