.s0 {
  color: #a0a1a7;
}.s1 {
  color: #c18401;
}.s2 {
  color: #a626a4;
}.s3 {
  color: #383a42;
}.s4 {
  color: #4078f2;
}.s5 {
  color: #986801;
}.s6 {
  color: #0184bc;
}.s7 {
  color: #e45649;
}.s8 {
  color: #ca1243;
}.s9 {
  color: #50a14f;
}.s10 {
  color: #000000;
}.s11 {
  color: white;
}.s12 {
  color: #696c77;
}.s13 {
  color: inherit;
}