.s0 {
  color: #abb2bf;
}.s1 {
  color: #e06c75;
}.s2 {
  color: #c678dd;
}.s3 {
  color: #d19a66;
}.s4 {
  color: #e5c07b;
}.s5 {
  color: #61afef;
}.s6 {
  color: #5c6370;
}.s7 {
  color: #98c379;
}.s8 {
  color: #56b6c2;
}.s9 {
  color: #ffffff;
}.s10 {
  color: #f44747;
}.s11 {
  color: #7f848e;
}.s12 {
  color: #be5046;
}