.s0 {
  color: #5f6672;
}.s1 {
  color: #b57edc;
}.s2 {
  color: #e06c75;
}.s3 {
  color: #56b6c2;
}.s4 {
  color: #61afef;
}.s5 {
  color: #98c379;
}.s6 {
  color: #e5c07b;
}.s7 {
  color: #c6ccd7;
}.s8 {
  color: #d19a66;
}.s9 {
  color: #a9b2c3;
}