.s0 {
  color: #767c9db0;
}.s1 {
  color: #a6accd;
}.s2 {
  color: #add7ff;
}.s3 {
  color: #e4f0fb;
}.s4 {
  color: #5de4c7c0;
}.s5 {
  color: #5de4c7;
}.s6 {
  color: #d0679d;
}.s7 {
  color: #ffffff;
}.s8 {
  color: #91b4d5;
}.s9 {
  color: #e4f0fbd0;
}.s10 {
  color: #a6accdc0;
}.s11 {
  color: #5fb3a1;
}.s12 {
  color: #42675a;
}.s13 {
  color: #506477;
}.s14 {
  color: #7390aa;
}.s15 {
  color: #50647750;
}.s16 {
  color: #89ddff;
}.s17 {
  color: #fffac2;
}.s18 {
  color: #767c9d;
}