.s0 {
  color: #f8f8f8;
}.s1 {
  color: #e7c0c0ff;
}.s2 {
  color: #994646ff;
}.s3 {
  color: #f12727ff;
}.s4 {
  color: #fec758ff;
}.s5 {
  color: #ff6262ff;
}.s6 {
  color: #cd8d8dff;
}.s7 {
  color: #9df39fff;
}.s8 {
  color: #fb9a4bff;
}.s9 {
  color: #ffffffff;
}.s10 {
  color: #aa5507ff;
}.s11 {
  color: #ec0d1e;
}.s12 {
  color: #ffe862ff;
}.s13 {
  color: #ffb454ff;
}.s14 {
  color: #edef7dff;
}.s15 {
  color: #eb939aff;
}.s16 {
  color: #73817dff;
}.s17 {
  color: #ec0d1eff;
}.s18 {
  color: #41a83eff;
}.s19 {
  color: #96dd3bff;
}.s20 {
  color: #fd6209ff;
}.s21 {
  color: #ec9799ff;
}.s22 {
  color: #f8f8f8ff;
}