.s0 {
  color: #9893a5;
}
.s1 {
  color: #286983;
}
.s2 {
  color: #d7827e;
}
.s3 {
  color: #56949f;
}
.s4 {
  color: #907aa9;
}
.s5 {
  color: #b4637a;
}
.s6 {
  color: #797593;
}
.s7 {
  color: #575279;
}
.s8 {
  color: #ea9d34;
}
