.s0 {
  color: #6e6a86;
}
.s1 {
  color: #31748f;
}
.s2 {
  color: #ebbcba;
}
.s3 {
  color: #9ccfd8;
}
.s4 {
  color: #c4a7e7;
}
.s5 {
  color: #eb6f92;
}
.s6 {
  color: #908caa;
}
.s7 {
  color: #e0def4;
}
.s8 {
  color: #f6c177;
}
