.s0 {
  color: #002339;
}.s1 {
  color: #110000;
}.s2 {
  color: #034c7c;
}.s3 {
  color: #00ac8f;
}.s4 {
  color: #003494;
}.s5 {
  color: #4e76b5;
}.s6 {
  color: #c792ea;
}.s7 {
  color: #0460b1;
}.s8 {
  color: #924205;
}.s9 {
  color: #357b42;
}.s10 {
  color: #a44185;
}.s11 {
  color: #174781;
}.s12 {
  color: #2f86d2;
}.s13 {
  color: #000000;
}.s14 {
  color: #7b30d0;
}.s15 {
  color: #da5221;
}.s16 {
  color: #0991b6;
}.s17 {
  color: #1172c7;
}.s18 {
  color: #b02767;
}.s19 {
  color: #7eb233;
}.s20 {
  color: #b1108e;
}.s21 {
  color: #0444ac;
}.s22 {
  color: #0071ce;
}.s23 {
  color: #df8618;
}.s24 {
  color: #1ab394;
}.s25 {
  color: #dc3eb7;
}.s26 {
  color: #224555;
}.s27 {
  color: #207bb8;
}.s28 {
  color: #6dbdfa;
}.s29 {
  color: #00820f;
}.s30 {
  color: #4fb4d8;
}.s31 {
  color: #87429a;
}.s32 {
  color: #08134a;
}