.s0 {
  color: #ff5c56;
}
.s1 {
  color: #11658f;
}
.s2 {
  color: #f767bb;
}
.s3 {
  color: #2dae58;
}
.s4 {
  color: #c25193;
}
.s5 {
  color: #ff5c57cc;
}
.s6 {
  color: #565869;
}
.s7 {
  color: #13bbb7;
}
.s8 {
  color: #09a1ed;
}
.s9 {
  color: #ff5c57;
}
.s10 {
  color: #cf9c00;
}
.s11 {
  color: #f5b900;
}
.s12 {
  color: #00a39f;
}
.s13 {
  color: #00a39f88;
}
.s14 {
  color: #adb1c2;
}
.s15 {
  color: #9194a2;
}
.s16 {
  color: #ff8380;
}
.s17 {
  color: #565869aa;
}
.s18 {
  color: #ff82cbbb;
}
.s19 {
  color: #238744;
}
.s20 {
  color: #888888;
}
.s21 {
  color: #999999;
}
.s22 {
  color: #777985;
}
.s23 {
  color: #686968;
}
.s24 {
  color: #75798f;
}
.s25 {
  color: #d94e4a;
}
.s26 {
  color: #b38700;
}
