.s0 {
  color: #657b83;
}
.s1 {
  color: #93a1a1;
}
.s2 {
  color: #2aa198;
}
.s3 {
  color: #dc322f;
}
.s4 {
  color: #d33682;
}
.s5 {
  color: #268bd2;
}
.s6 {
  color: #859900;
}
.s7 {
  color: #586e75;
}
.s8 {
  color: #cb4b16;
}
.s9 {
  color: #b58900;
}
.s10 {
  color: #6c71c4;
}
