.s0 {
  color: #848bbd;
}.s1 {
  color: #ff8b39;
}.s2 {
  color: #b6b1b1;
}.s3 {
  color: #ff7edb;
}.s4 {
  color: #fe4450;
}.s5 {
  color: #fede5d;
}.s6 {
  color: #f97e72;
}.s7 {
  color: #36f9f6;
}.s8 {
  color: #72f1b8;
}.s9 {
  color: #d50;
}.s10 {
  color: #2ee2fa;
}.s11 {
  color: #ffffffee;
}.s12 {
  color: #b6b1b1cc;
}.s13 {
  color: #ff7edbff;
}