.s0 {
  color: #51597d;
}.s1 {
  color: #5a638c;
}.s2 {
  color: #646e9c;
}.s3 {
  color: #ff9e64;
}.s4 {
  color: #9ece6a;
}.s5 {
  color: #9aa5ce;
}.s6 {
  color: #ff5370;
}.s7 {
  color: #bb9af7;
}.s8 {
  color: #9d7cd8;
}.s9 {
  color: #7dcfff;
}.s10 {
  color: #0db9d7;
}.s11 {
  color: #f7768e;
}.s12 {
  color: #89ddff;
}.s13 {
  color: #de5971;
}.s14 {
  color: #ba3c97;
}.s15 {
  color: #e0af68;
}.s16 {
  color: #c0caf5;
}.s17 {
  color: #73daca;
}.s18 {
  color: #41a6b5;
}.s19 {
  color: #7aa2f7;
}.s20 {
  color: #fc7b7b;
}.s21 {
  color: #9abdf5;
}.s22 {
  color: #449dab;
}.s23 {
  color: #914c54;
}.s24 {
  color: #6183bb;
}.s25 {
  color: #b4f9f8;
}.s26 {
  color: #4e5579;
}.s27 {
  color: #61bdf2;
}.s28 {
  color: #6d91de;
}.s29 {
  color: #747ca1;
}.s30 {
  color: #c0cefc;
}.s31 {
  color: #ffdb69;
}.s32 {
  color: #db4b4b;
}.s33 {
  color: #b267e6;
}