.s0 {
  color: #8b8b8b94;
}
.s1 {
  color: #fff;
}
.s2 {
  color: #ff8080;
}
.s3 {
  color: #a0a0a0;
}
.s4 {
  color: #ffc799;
}
.s5 {
  color: #99ffe4;
}
.s6 {
  color: #ffff;
}
.s7 {
  color: #00000050;
}
.s8 {
  color: #65737e;
}
