.s0 {
  color: #758575dd;
}
.s1 {
  color: #666666;
}
.s2 {
  color: #c99076;
}
.s3 {
  color: #80a665;
}
.s4 {
  color: #dbd7caee;
}
.s5 {
  color: #4d9375;
}
.s6 {
  color: #cb7676;
}
.s7 {
  color: #c98a7d;
}
.s8 {
  color: #c98a7d77;
}
.s9 {
  color: #b8a96577;
}
.s10 {
  color: #b8a965;
}
.s11 {
  color: #bd976a;
}
.s12 {
  color: #5da994;
}
.s13 {
  color: #db889a;
}
.s14 {
  color: #fdaeb7;
}
.s15 {
  color: #24292e;
}
.s16 {
  color: #c4704f;
}
.s17 {
  color: #e6cc77;
}
.s18 {
  color: #4c9a91;
}
.s19 {
  color: #d4976c;
}
.s20 {
  color: #5d99a9;
}
.s21 {
  color: #85e89d;
}
.s22 {
  color: #ffab70;
}
.s23 {
  color: #2f363d;
}
.s24 {
  color: #b392f0;
}
.s25 {
  color: #79b8ff;
}
.s26 {
  color: #d1d5da;
}
.s27 {
  color: #dedcd590;
}
.s28 {
  color: #6872ab;
}
