.s0 {
  color: #a0ada0;
}
.s1 {
  color: #999999;
}
.s2 {
  color: #a65e2b;
}
.s3 {
  color: #59873a;
}
.s4 {
  color: #393a34;
}
.s5 {
  color: #1e754f;
}
.s6 {
  color: #ab5959;
}
.s7 {
  color: #b56959;
}
.s8 {
  color: #b5695977;
}
.s9 {
  color: #99841877;
}
.s10 {
  color: #998418;
}
.s11 {
  color: #b07d48;
}
.s12 {
  color: #2e8f82;
}
.s13 {
  color: #b05a78;
}
.s14 {
  color: #b31d28;
}
.s15 {
  color: #fafbfc;
}
.s16 {
  color: #ab5e3f;
}
.s17 {
  color: #bda437;
}
.s18 {
  color: #2f798a;
}
.s19 {
  color: #1c6b48;
}
.s20 {
  color: #2e808f;
}
.s21 {
  color: #22863a;
}
.s22 {
  color: #e36209;
}
.s23 {
  color: #f6f8fa;
}
.s24 {
  color: #6f42c1;
}
.s25 {
  color: #005cc5;
}
.s26 {
  color: #586069;
}
.s27 {
  color: #393a3490;
}
.s28 {
  color: #5a6aa6;
}
